@model IEnumerable<MultivendorEcommerceStore.DB.ViewModel.CartViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Your shopping cart</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading no-line">
            <span class="page-heading-title2">Shopping Cart Summary</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            @*<ul class="step">
                <li class="current-step"><span>01. Summary</span></li>
                <li><span>02. Sign in</span></li>
                <li><span>03. Address</span></li>
                <li><span>04. Shipping</span></li>
                <li><span>05. Payment</span></li>
            </ul>*@
            @*<div class="heading-counter warning">
                Your shopping cart contains:
                <span>1 Product</span>
            </div>*@
            <div class="order-detail-content">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                        <tr>
                            <th class="cart_product">Product</th>
                            <th>Description</th>
                            <th>Avail.</th>
                            <th>Unit price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="CartItem_@item.ProductID">
                                    <td class="cart_product">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })"><img src="@Url.Content(item.ProductDetail.ProductImage1)" alt="Product"></a>
                                    </td>
                                    <td class="cart_description">
                                        <p class="product-name"><a href="#">@item.ProductDetail.ProductName </a></p>
                                        @*<small class="cart_ref">SKU : #123654999</small><br>
                                        <small><a href="#">Color : Beige</a></small><br>*@
                                        <small><a href="#">Size : @item.ProductDetail.Size</a></small>
                                    </td>
                                    <td class="cart_avail"><span class="label label-success">In stock</span></td>
                                    <td class="price"><span>@item.ProductDetail.Price</span></td>
                                    <td class="qty">
                                        @*<input class="form-control input-sm" type="text" value="">*@
                                        @item.Quantity
                                        @*<a href="#"><i class="fa fa-caret-up"></i></a>
                                        <a href="#"><i class="fa fa-caret-down"></i></a>*@
                                    </td>
                                    <td class="price">
                                        <span>@(item.ProductDetail.Price * item.Quantity)</span>
                                    </td>
                                    <td class="action">
                                        @*<a href="#">Delete item</a>*@
                                        <button value="@item.ProductID" onclick="RemoveItem(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    @Html.Partial("_TotalPriceInCart")

                </table>
                <div class="cart_navigation">
                    <a class="prev-btn" href="@Url.Action("Index", "Home")">Continue shopping</a>
                    <a class="next-btn" href="@Url.Action("Checkout", "Cart")">Proceed to checkout</a>


                    <!-- PayPal CheckOut -->
                    @*<div class="next-btn form-group pull-right">
                        <form id="myContainer" method="post" action="@Url.Action("Checkout", "Cart")"></form>
                        <script>
                        window.paypalCheckoutReady = function () {
                            paypal.checkout.setup('BRKKN32NLUD56',
                                {
                                    environment: 'sandbox',
                                    container: 'myContainer'
                                });
                        };
                        </script>
                        <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                    </div>*@
                    <!-- PayPal CheckOut END -->

                </div>

                @*<div class="form-group">
                    <label>Popup Checkout Experience</label>
                    <form id="myContainer" method="post" action="@Url.Action("Checkout", "Cart")"></form>
                    <script>
                        window.paypalCheckoutReady = function () {
                            paypal.checkout.setup('BRKKN32NLUD56',
                                {
                                    environment: 'sandbox',
                                    container: 'myContainer'
                                });
                        };
                    </script>
                    <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                </div>*@


            </div>
        </div>
    </div>
</div>
<!-- ./page wapper-->


@section scripts{
    <script>
        function RemoveItem(obj) {
            var value = obj.value;
            $.ajax({
                url: "/Cart/DeleteItemFromCart",
                type: "POST",
                datatype: "json",
                data: { productID: value, },
                success: function (data) {
                    debugger;
                    $(".TagToRemove").remove();
                    $("#CartItem_" + value).remove();
                    var quantity = parseInt(0);
                    var total = parseFloat(0.0);
                    for (var i = 0; i < data.length; i++) {
                        quantity = data[i].quantity + quantity;
                        $("#QuickCartView").append("<li class=\"product-info TagToRemove\"> <div class=\"p-left\"><a href=\"#\"><img class=\"img-responsive\" src='" + data[i].ProductDetail.ProductImage1.replace(/~/g, ' ') + "' alt=\"Cart Product\"></a></div><div class=\"p-right\"><p class=\"p-name\">" + data[i].ProductDetail.ProductName + "</p><p class=\"p-rice\">" + data[i].ProductDetail.Price * data[i].Quantity + "</p><p>Quantity: " + data[i].Quantity + "</p><button class=\"btn-hover-2 DeleteItemFromCart pull-right\" onclick=\"f1(this)\" value=" + data[i].ProductID + "><i class=\"glyphicon glyphicon-trash\"></i></button></div></li>");
                        var price = data[i].ProductDetail.Price * data[i].Quantity;
                        total = price + total;
                    }
                    $(".cart-quantity").html(quantity);
                    alertify.success("Item successfully Removed...");
                    //Updating Cart Total
                    $(".CartTotal").html(total);
                }
            })
        }

    </script>
}
