@model MultivendorEcommerceStore.DB.ViewModel.AddProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add Product
            </header>
            <div class="panel-body">
                <div class="form">
                    <h2 style="text-align:center">Add Product</h2>

                    @using (Html.BeginForm("AddProduct", "Supplier", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="cmxform form-horizontal tasi-form">

                            <h4 style="text-align:center">Enter Product Information</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(Model => Model.CategoryID,
                    (SelectList)ViewBag.CategoryDropDown,
                    "--Select Category--",
                    new { @class = "form-control", @id = "SelectedCategory" })
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.SubCategoryID, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(Model => Model.SubCategoryID,
                    new SelectList(string.Empty, "Value", "Text"),
                    "--Select Sub Category--",
                    new { @class = "form-control", @id = "SubCategory" })
                                    @Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.SubCategoryItemID, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(Model => Model.SubCategoryItemID,
                    new SelectList(string.Empty, "Value", "Text"),
                    "--Select SubCategory Item--",
                    new { @class = "form-control", @id = "SubCategoryItem" })
                                    @Html.ValidationMessageFor(model => model.SubCategoryItemID, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.ProductImage1, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @*@Html.EditorFor(model => model.ProfilePhoto, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input type="file" id="ProductImage1" name="ProductImage1" class="form-control file-upload" />
                                    @Html.ValidationMessageFor(model => model.ProductImage1, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>


                                @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-6">
                                    <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "ProductList")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
