@using MultivendorEcommerceStore.DB.ViewModel;
@model UserProfileViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- page start-->
<div class="row">
    <aside class="profile-nav col-lg-3">
        <section class="panel">
            <div class="user-heading round">
                <a href="#">
                    <img src="@Url.Content(Model.ProfilePhoto)" alt="Profile Photo">
                </a>
                <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="@Url.Action("SupplierProfile", "Supplier")"> <i class="fa fa-user"></i> Profile</a></li>
                @*<li><a href="profile-activity.html"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-danger pull-right r-activity">9</span></a></li>
                <li><a href="profile-edit.html"> <i class="fa fa-edit"></i> Edit profile</a></li>*@
            </ul>

        </section>
    </aside>
    <aside class="profile-info col-lg-9">
       
        <section class="panel">
            <div class="bio-graph-heading">
                Supplier Personal Information
            </div>
            <div class="panel-body bio-graph-info">
                <h1>Bio Graph</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>First Name </span>: @Html.DisplayFor(model => model.FirstName) </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: @Html.DisplayFor(model => model.LastName)</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: @Html.DisplayFor(model => model.Country)</p>
                    </div>
                    @*<div class="bio-row">
                        <p><span>Birthday</span>: 13 July 1983</p>
                    </div>*@
                    <div class="bio-row">
                        <p><span>Occupation </span>: Business</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: @Html.DisplayFor(model => model.Email)</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile </span>: @Html.DisplayFor(model => model.MobileNo)</p>
                    </div>
                    @*<div class="bio-row">
                        <p><span>Phone </span>: 88 (02) 123456</p>
                    </div>*@
                </div>
            </div>
        </section>
     
    </aside>
</div>

<!-- page end-->