@using MultivendorEcommerceStore.DB.ViewModel

@{
    CartViewModel obj = new CartViewModel();
    int quantityCount = 0;
    decimal? total = 0;
    List<CartViewModel> list = (List<CartViewModel>)Session["Cart"];
    if (Session["Cart"] != null)
    {
        for (int i = 0; i < list.Count(); i++)
        {
            quantityCount = list[i].Quantity + quantityCount;
            var price = list[i].ProductDetail.Price * list[i].Quantity;
            total = price + total;
        }
        if (quantityCount == 0 || quantityCount < 0)
        {
            quantityCount = 0;
        }
    }
}

<div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
    <a class="cart-link" href="@Url.Action("CartIndex","Cart")">
        <span class="title">Shopping cart</span>
        <span class="total cart-quantity">@quantityCount </span> items - <i class="CartTotal"> @total </i> Rs.
        <span class="notify notify-left cart-quantity">@quantityCount</span>
    </a>
    <div class="cart-block">
        <div class="cart-block-content">
            <h5> <span class="cart-title cart-quantity">@quantityCount </span> Items in my cart </h5>

            <div class="cart-block-list">
                <ul id="QuickCartView">

                    @if (list != null)
                    {
                        foreach (var item in list)
                        {
                            <li class="product-info TagToRemove">

                                <div class="p-left">
                                    <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                        <img class="img-responsive" src="@Url.Content(item.ProductDetail.ProductImage1)" alt="Cart Product">
                                    </a>
                                </div>

                                <div class="p-right">
                                    <p class="p-name">@item.ProductDetail.ProductName</p>
                                    <p class="p-rice">@(item.ProductDetail.Price * @item.Quantity)</p>
                                    <p>Quantity: @item.Quantity</p>
                                    <button class="btn-hover-2 DeleteItemFromCart pull-right" onclick="f1(this)" value="@item.ProductID"><i class="glyphicon glyphicon-trash"></i></button>

                                </div>

                            </li>

                        }
                    }

                </ul>
            </div>
            <div class="toal-cart">
                <span>Total</span>
                <p class="toal-price pull-right"> <span class="CartTotal"> @total </span> Rs.</p> 
            </div>

            <div class="@*cart-buttons*@">
                <a href="@Url.Action("CartIndex", "Cart")" class="btn btn-default">View Cart</a>
            </div>

            <div class="cart-buttons pull-right">
                <a href="order.html" class="btn-check-out">Checkout</a>
            </div>
        </div>
    </div>
</div>
