@model MultivendorEcommerceStore.DB.ViewModel.DashboardStatisticsVM

@*@{
        MultivendorEcommerceStore.DB.ViewModel.AdminLayoutViewModel layoutdata  = ViewBag.LayoutData;
    }*@

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
*@

<!--state overview start-->
<div class="row state-overview">

    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-user"></i>
            </div>

            <div class="value">
                @*@foreach (var item in Model)
                    {
                        <h1>
                          @item.UsersCount
                        </h1>
                    }*@
                <p>Total Users</p>
            </div>

        </section>
    </div>

    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-tags"></i>
            </div>
            <a href="@Url.Action("ProductList", "Admin")">

                <div class="value">
                    @*@foreach (var item in Model)
                        {
                             <h1>
                                 @item.ProductsCount
                             </h1>
                         }*@
                    <p>Total Products</p>
                </div>

            </a>
        </section>
    </div>


    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="value">
                <h1>
                    @*@Model.OrdersCount*@
                </h1>
                <p>New Order</p>
            </div>
        </section>
    </div>


    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="value">
                <h1 class="count4">
                    0
                </h1>
                <p>Total Profit</p>
            </div>
        </section>
    </div>

    <section class="panel col-lg-12">
        <header class="panel-heading">
            New Orders
        </header>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="dashboard-graph graph_chart" id="ChartNewOrdersContainer">
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts
{   @Scripts.Render("~/bundles/highStockCore")
<script src="@Url.Content("~/Scripts/CustomHighCharts.js")"></script>
@if (Model.OrdersChart != null)
{
    <script type="text/javascript">
        $(function () {

            var OrderData = @Html.Raw(Json.Encode(Model.OrdersChart));
            CreateOrderChart(OrderData);

            @*var NewUsersData = @Html.Raw(Json.Encode(Model.NewUserChart));
            CreateNewUsersChart(NewUsersData);*@

        });
    </script>
}


}


<!--state overview end-->
