@model IEnumerable<MultivendorEcommerceStore.DB.ViewModel.ProductListViewModel>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />


<!--vertical center Modal start-->
<div class="modal fade modal-dialog-center " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Product</h4>
                </div>
                <div class="modal-body">

                    Are you sure you want to delete this product?

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button id="btnContinueDelete" class="btn btn-warning" type="button"> Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- vertical center Modal end -->
<!--main content start-->
<section class="site-min-height">
    <!-- page start-->
    <section class="panel">
        <header class="panel-heading">
            Product's List
        </header>
        <div class="panel-body">
            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <a href="@Url.Action("AddProduct","Admin")" class="btn btn-info">
                            Add New <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:window.print()">Print</a></li>
                            <li><a href="#">Save as PDF</a></li>
                            <li><a href="#">Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="space15"></div>

                <div class="table-responsive">

                    <table class="table table-striped table-hover" id="editable-sample" style="text-align:center">
                        <thead>
                            <tr style="text-align:center">
                                <th style="text-align:center">
                                    @Html.DisplayName("Product Name")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Description")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Quantity")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Price")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Picture")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Category")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Sub Category")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Status")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Active")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Added On")
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id='ProductToDelete_@item.ProductID'>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        <img class="img-thumbnail" src="@Url.Content(item.ProductImage1)" height="50" width="50" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td id='ItemActive_@item.ProductID'>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-xs btn-circle ItemToChange" title="Active/InActive" value="@item.ProductID">
                                            <i class="glyphicon glyphicon-ok-circle"></i>
                                        </a>

                                        <a class="btn btn-primary btn-xs" title="Edit" href="@Url.Action("EditProduct", "Admin", new {  SupplierID = item.SupplierID, ProductID = item.ProductID })">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs ItemToDelete" title="Delete" data-toggle="modal" data-target="#myModal" value="@item.ProductID">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </section>
    <!-- page end-->
</section>
<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2017 &copy; FineCollection by IT Specialists.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
