@model IEnumerable<MultivendorEcommerceStore.DB.Model.Supplier>

@{
    ViewBag.Title = "SupplierList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">SupplierList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"  style="text-align:center">
    <tr style="text-align:center">
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Country")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("PostalCode")
        </th>
        <th>
            @Html.DisplayName("Phone")
        </th>
        <th>
            @Html.DisplayName("ProfilePhoto")
        </th>

        <th>Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <img class="img-thumbnail" src="@Url.Content(item.ProfilePhoto)" height="100" width="100" />
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                @Html.ActionLink("Delete", "DeleteSupplier", new { id = item.SupplierID })
            </td>
        </tr>
    }

</table>
