@model List<MultivendorEcommerceStore.DB.ViewModel.FeatureProductsViewModel>

<!-- featured category Digital -->
<div class="category-featured digital">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#"><img alt="fashion" src="~/assets/data/icon-digital.png" />DIGITAL</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a data-toggle="tab" href="#tab-10">Best Seller's</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-4" class="floor-elevator">
            <a href="#elevator-3" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#elevator-5" class="btn-elevator down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list">
                    @foreach (var Mainitem in Model)
                    {
                        foreach (var item in Mainitem.CategoryListVM.Where(c => c.DisplayOrder == 2 & c.CategoryName == "DIGITAL").ToList())
                        {
                            foreach (var SubCat in item.listSubCategoryEntity.OrderBy(c => c.SubCategoryName))
                            {
                                <li>
                                    <a href="@Url.Action("Products", "Home", new{ PId = SubCat.SubCategoryID })">
                                        @Html.DisplayFor(modelitem => SubCat.SubCategoryName)
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-sm-10 col-right-tab">
                <div class="product-featured-tab-content">
                    <div class="tab-container">
                        <div class="tab-panel active" id="tab-10">
                            <div class="box-left">
                                @foreach (var Mianitem in Model)
                                {
                                    foreach (var item in Mianitem.CategoryListVM.Where(c => c.DisplayOrder == 2 & c.CategoryName == "DIGITAL").ToList())
                                    {
                                        <div class="banner-img">
                                            <a href="#"><img src="@Html.DisplayFor(modelItem => item.CategoryPicture)" alt="DIGITAL Product"></a>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="box-right">
                                <ul class="product-list row">
                                    @foreach (var featureProduct in Model)
                                    {
                                        foreach (var item in featureProduct.ProductListVM.Where(p => p.Active == "Yes" && p.FeatureProduct == true && p.CategoryName == "DIGITAL"))
                                        {
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">@item.ProductName</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs. @item.Price</span>
                                                        @*<span class="price old-price">$52,00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.Action("ProductDetail", "Home" , new { ProductID=item.ProductID })"><img class="img-responsive" alt="product" src="@Url.Content(item.ProductImage1)" width="268" height="327" /></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" href="#">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured category Digital-->