@model MultivendorEcommerceStore.DB.ViewModel.ProductByCategoryViewModel
@{
    ViewBag.home = "category-page";
    ViewBag.Title = "Products";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="@Url.Action("Index", "Home")" title="Return to Home">
                Home
            </a>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                {
                    <a href="#" title="Category">
                        @item.CategoryName
                    </a>
                    break;
                }
            </span>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                {
                    <a href="#" title="Sub Category">
                        @item.SubCategoryName
                    </a>
                    break;
                }
            </span>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                    {
                        <a href="#" title="Sub-Category Item">
                            @item.SubCategoryItemName
                        </a>
                    }
            </span>

        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block">Product types</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Tops</a>
                                        <ul>
                                            <li><span></span><a href="#">T-shirts</a></li>
                                            <li><span></span><a href="#">Dresses</a></li>
                                            <li><span></span><a href="#">Casual</a></li>
                                            <li><span></span><a href="#">Evening</a></li>
                                            <li><span></span><a href="#">Summer</a></li>
                                            <li><span></span><a href="#">Bags & Shoes</a></li>
                                            <li><span></span><a href="#"><span></span>Blouses</a></li>
                                        </ul>
                                    </li>
                                    <li><span></span><a href="#">T-shirts</a></li>
                                    <li><span></span><a href="#">Dresses</a></li>
                                    <li><span></span><a href="#">Jackets and coats </a></li>
                                    <li><span></span><a href="#">Knitted</a></li>
                                    <li><span></span><a href="#">Pants</a></li>
                                    <li><span></span><a href="#">Bags & Shoes</a></li>
                                    <li><span></span><a href="#">Best selling</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block filter -->
                <div class="block left-module">
                    <p class="title_block">Filter selection</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-filter-price">
                            <!-- filter categgory -->
                            <div class="layered_subtitle">CATEGORIES</div>
                            <div class="layered-content">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="c1" name="cc" />
                                        <label for="c1">
                                            <span class="button"></span>
                                            Tops<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c2" name="cc" />
                                        <label for="c2">
                                            <span class="button"></span>
                                            T-shirts<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c3" name="cc" />
                                        <label for="c3">
                                            <span class="button"></span>
                                            Dresses<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c4" name="cc" />
                                        <label for="c4">
                                            <span class="button"></span>
                                            Jackets and coats<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5">
                                            <span class="button"></span>
                                            Knitted<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c6" name="cc" />
                                        <label for="c6">
                                            <span class="button"></span>
                                            Pants<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c7" name="cc" />
                                        <label for="c7">
                                            <span class="button"></span>
                                            Bags & Shoes<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c8" name="cc" />
                                        <label for="c8">
                                            <span class="button"></span>
                                            Best selling<span class="count">(10)</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./filter categgory -->
                            <!-- filter price -->
                            <div class="layered_subtitle">price</div>
                            <div class="layered-content slider-range">

                                <div data-label-reasult="Range:" data-min="0" data-max="500" data-unit="$" class="slider-range-price" data-value-min="50" data-value-max="350"></div>
                                <div class="amount-range-price">Range: $50 - $350</div>
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="p1" name="cc" />
                                        <label for="p1">
                                            <span class="button"></span>
                                            $20 - $50<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="p2" name="cc" />
                                        <label for="p2">
                                            <span class="button"></span>
                                            $50 - $100<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="p3" name="cc" />
                                        <label for="p3">
                                            <span class="button"></span>
                                            $100 - $250<span class="count">(0)</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./filter price -->
                            <!-- filter color -->
                            <div class="layered_subtitle">Color</div>
                            <div class="layered-content filter-color">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="color1" name="cc" />
                                        <label style="background:#aab2bd;" for="color1"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color2" name="cc" />
                                        <label style="background:#cfc4a6;" for="color2"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color3" name="cc" />
                                        <label style="background:#aab2bd;" for="color3"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color4" name="cc" />
                                        <label style="background:#fccacd;" for="color4"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color5" name="cc" />
                                        <label style="background:#964b00;" for="color5"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color6" name="cc" />
                                        <label style="background:#faebd7;" for="color6"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color7" name="cc" />
                                        <label style="background:#e84c3d;" for="color7"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color8" name="cc" />
                                        <label style="background:#c19a6b;" for="color8"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color9" name="cc" />
                                        <label style="background:#f39c11;" for="color9"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color10" name="cc" />
                                        <label style="background:#5d9cec;" for="color10"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color11" name="cc" />
                                        <label style="background:#a0d468;" for="color11"><span class="button"></span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="color12" name="cc" />
                                        <label style="background:#f1c40f;" for="color12"><span class="button"></span></label>
                                    </li>

                                </ul>
                            </div>
                            <!-- ./filter color -->
                            <!-- ./filter brand -->
                            <div class="layered_subtitle">brand</div>
                            <div class="layered-content filter-brand">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="brand1" name="cc" />
                                        <label for="brand1">
                                            <span class="button"></span>
                                            Channelo<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="brand2" name="cc" />
                                        <label for="brand2">
                                            <span class="button"></span>
                                            Mamypokon<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="brand3" name="cc" />
                                        <label for="brand3">
                                            <span class="button"></span>
                                            Pamperson<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="brand4" name="cc" />
                                        <label for="brand4">
                                            <span class="button"></span>
                                            Pumano<span class="count">(0)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="brand5" name="cc" />
                                        <label for="brand5">
                                            <span class="button"></span>
                                            AME<span class="count">(0)</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./filter brand -->
                            <!-- ./filter size -->
                            <div class="layered_subtitle">Size</div>
                            <div class="layered-content filter-size">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="size1" name="cc" />
                                        <label for="size1">
                                            <span class="button"></span>X
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size2" name="cc" />
                                        <label for="size2">
                                            <span class="button"></span>XXL
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size3" name="cc" />
                                        <label for="size3">
                                            <span class="button"></span>XL
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size4" name="cc" />
                                        <label for="size4">
                                            <span class="button"></span>XXL
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size5" name="cc" />
                                        <label for="size5">
                                            <span class="button"></span>M
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size6" name="cc" />
                                        <label for="size6">
                                            <span class="button"></span>XXS
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size7" name="cc" />
                                        <label for="size7">
                                            <span class="button"></span>S
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size8" name="cc" />
                                        <label for="size8">
                                            <span class="button"></span>XS
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size9" name="cc" />
                                        <label for="size9">
                                            <span class="button"></span>34
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size10" name="cc" />
                                        <label for="size10">
                                            <span class="button"></span>36
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size11" name="cc" />
                                        <label for="size11">
                                            <span class="button"></span>35
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="size12" name="cc" />
                                        <label for="size12">
                                            <span class="button"></span>37
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./filter size -->
                        </div>
                        <!-- ./layered -->

                    </div>
                </div>
                <!-- ./block filter  -->
                <!-- left silide -->
                <div class="col-left-slide left-module">
                    <ul class="owl-carousel owl-style2" data-loop="true" data-nav="false" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
                        <li><a href="#"><img src="~/assets/data/slide-left.jpg" alt="slide-left"></a></li>
                        <li><a href="#"><img src="~/assets/data/slide-left2.jpg" alt="slide-left"></a></li>
                        <li><a href="#"><img src="~/assets/data/slide-left3.png" alt="slide-left"></a></li>
                    </ul>

                </div>
                <!--./left silde-->
                <!-- SPECIAL -->
                <div class="block left-module">
                    <p class="title_block">SPECIAL PRODUCTS</p>
                    <div class="block_content">
                        <ul class="products-block">
                            <li>
                                <div class="products-block-left">
                                    <a href="#">
                                        <img src="~/assets/data/product-100x122.jpg" alt="SPECIAL PRODUCTS">
                                    </a>
                                </div>
                                <div class="products-block-right">
                                    <p class="product-name">
                                        <a href="#">Woman Within Plus Size Flared</a>
                                    </p>
                                    <p class="product-price">$38,95</p>
                                    <p class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="products-block">
                            <div class="products-block-bottom">
                                <a class="link-all" href="#">All Products</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./SPECIAL -->
                <!-- TAGS -->
                <div class="block left-module">
                    <p class="title_block">TAGS</p>
                    <div class="block_content">
                        <div class="tags">
                            <a href="#"><span class="level1">actual</span></a>
                            <a href="#"><span class="level2">adorable</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level4">consider</span></a>
                            <a href="#"><span class="level3">phenomenon</span></a>
                            <a href="#"><span class="level4">span</span></a>
                            <a href="#"><span class="level1">spanegs</span></a>
                            <a href="#"><span class="level5">spanegs</span></a>
                            <a href="#"><span class="level1">actual</span></a>
                            <a href="#"><span class="level2">adorable</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level4">consider</span></a>
                            <a href="#"><span class="level2">gives</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level2">gives</span></a>
                            <a href="#"><span class="level1">good</span></a>
                            <a href="#"><span class="level3">phenomenon</span></a>
                            <a href="#"><span class="level4">span</span></a>
                            <a href="#"><span class="level1">spanegs</span></a>
                            <a href="#"><span class="level5">spanegs</span></a>
                        </div>
                    </div>
                </div>
                <!-- ./TAGS -->
                <!-- Testimonials -->
                <div class="block left-module">
                    <p class="title_block">Testimonials</p>
                    <div class="block_content">
                        <ul class="testimonials owl-carousel" data-loop="true" data-nav="false" data-margin="30" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
                            <li>
                                <div class="client-mane">Roverto & Maria</div>
                                <div class="client-avarta">
                                    <img src="~/assets/data/testimonial.jpg" alt="client-avarta">
                                </div>
                                <div class="testimonial">
                                    "Your product needs to improve more. To suit the needs and update your image up"
                                </div>
                            </li>
                            <li>
                                <div class="client-mane">Roverto & Maria</div>
                                <div class="client-avarta">
                                    <img src="~/assets/data/testimonial.jpg" alt="client-avarta">
                                </div>
                                <div class="testimonial">
                                    "Your product needs to improve more. To suit the needs and update your image up"
                                </div>
                            </li>
                            <li>
                                <div class="client-mane">Roverto & Maria</div>
                                <div class="client-avarta">
                                    <img src="~/assets/data/testimonial.jpg" alt="client-avarta">
                                </div>
                                <div class="testimonial">
                                    "Your product needs to improve more. To suit the needs and update your image up"
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ./Testimonials -->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">

                <!-- subcategories -->
                <div class="subcategories">
                    <ul>
                        <li class="current-categorie">
                            @foreach (var item in Model.ProductsList)
                            {
                                <a href="#">@item.CategoryName</a>
                                break;
                            }
                        </li>
                        <li>
                            @foreach (var item in Model.ProductsList)
                            {
                                <a href="#">@item.SubCategoryName</a>
                                break;
                            }
                        </li>
                        <li>
                            @foreach (var item in Model.ProductsList)
                                {
                                    <a href="#">@item.SubCategoryItemName</a>
                                }
                        </li>

                    </ul>
                </div>
                <!-- ./subcategories -->
                <!-- view-product-list-->
                <div id="view-product-list" class="view-product-list">
                    <!-- PRODUCT LIST -->
                    <ul class="row product-list grid">
                        @foreach (var item in Model.ProductsList.Where(s => s.Active == "Yes"))
                        {
                            <li class="col-sx-12 col-sm-4">
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                            <img src="@Url.Content(item.ProductImage1)?w=200&h=200&mode=stretch|" class="img img-thumbnail img-responsive" alt="Product Image"  width="300" height="366"  />
                                        </a>
                                        <div class="quick-view">
                                            <button title="Add to my wishlist" class="AddToWishList heart" value="@item.ProductID"><i class="glyphicon glyphicon-heart"></i></button>
                                            <button href="#" data-toggle="modal" data-target="#productModal_@item.ProductID" title="Quick view"><i class="glyphicon glyphicon-zoom-in"></i></button>

                                        </div>
                                        <div class="add-to-cart">
                                            <button title="Add to Cart" value="@item.ProductID" class="AddToCart" type="button">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.ProductName)</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price">Rs.@Html.DisplayFor(modelItem => item.Price)</span>

                                        </div>
                                        <div class="info-orther">
                                            <p>Item Code: #453217907</p>
                                            <p class="availability">Availability: <span>In stock</span></p>
                                            <div class="product-desc">
                                                Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>

                <!-- ./view-product-list-->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            @if (Model.Pager.EndPage > 1)
                            {
                                <ul class="pagination">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID">First</a>
                                                break;
                                            }
                                        </li>

                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@page">@page</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                break;
                                            }
                                        </li>
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.TotalPages)">Last</a>
                                                break;
                                            }
                                        </li>
                                    }
                                </ul>
                            }

                        </nav>
                    </div>
                </div>







            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>


<!-- Modal -->
@foreach (var item in Model.ProductsList.Where(s => s.Active == "Yes"))
{
    <div class="modal fade" id="productModal_@item.ProductID" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-5">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                        <img id="product-zoom" src='@Url.Content(item.ProductImage1)' data-zoom-image="@Url.Content(item.ProductImage1)" />
                                    </a>
                                </div>
                            </div>
                            <!-- product-imge-->
                        </div>

                        <div class="pb-right-column col-xs-12 col-sm-7">
                            <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                <h4 class="product-name">@item.ProductName</h4>
                            </a>
                            <br />
                            <div class="product-price-group">
                                <h5> <span class="price">@item.Price Rs.</span> </h5>

                                <div class="pull-right" style="border:1px solid #eaeaea; padding:0px; text-align:center;">
                                    <div style="font-size:14px; background-color:lightgrey;">
                                        Sold By:
                                        <br />
                                    </div>
                                    <p style="text-align:left; padding-left:8px;">
                                        <a href="@Url.Action("SupplierProducts","Home", new { SupplierID = item.SupplierID })"><stong>@item.SupplierName</stong></a>
                                    </p>
                                </div>
                            </div>

                            <div class="product-desc">
                                <hr />
                                @item.ProductDescription
                                <hr />
                            </div>

                            <div class="form-action">
                                <div class="button-group">
                                    <button title="Add to Cart" value="@item.ProductID" class="btn-add-cart AddToCart" type="button">Add to Cart</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
}

