@model MultivendorEcommerceStore.DB.ViewModel.ProductByCategoryViewModel
@{
    ViewBag.home = "category-page";
    ViewBag.Title = "Products";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="@Url.Action("Index", "Home")" title="Return to Home">
                Home
            </a>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                {
                    <a href="#" title="Category">
                        @item.CategoryName
                    </a>
                    break;
                }
            </span>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                {
                    <a href="#" title="Sub Category">
                        @item.SubCategoryName
                    </a>
                    break;
                }
            </span>

            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">
                @foreach (var item in Model.ProductsList)
                    {
                        <a href="#" title="Sub-Category Item">
                            @item.SubCategoryItemName
                        </a>
                    }
            </span>

        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
    
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">

                <!-- subcategories -->
                <div class="subcategories">
                    <ul>
                        <li class="current-categorie">
                            @foreach (var item in Model.ProductsList)
                            {
                                <a href="#">@item.CategoryName</a>
                                break;
                            }
                        </li>
                        <li>
                            @foreach (var item in Model.ProductsList)
                            {
                                <a href="#">@item.SubCategoryName</a>
                                break;
                            }
                        </li>
                        <li>
                            @foreach (var item in Model.ProductsList)
                                {
                                    <a href="#">@item.SubCategoryItemName</a>
                                }
                        </li>

                    </ul>
                </div>
                <!-- ./subcategories -->
                <!-- view-product-list-->
                <div id="view-product-list" class="view-product-list">
                    <!-- PRODUCT LIST -->
                    <ul class="row product-list grid">
                        @foreach (var item in Model.ProductsList.Where(s => s.Active == "Yes"))
                        {
                            <li class="col-sx-12 col-sm-4">
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                            <img src="@Url.Content(item.ProductImage1)?w=200&h=200&mode=stretch|" class="img img-thumbnail img-responsive" alt="Product Image" width="300" height="366" />
                                        </a>
                                        <div class="quick-view">
                                            <button title="Add to my wishlist" class="AddToWishList heart" value="@item.ProductID"><i class="glyphicon glyphicon-heart"></i></button>
                                            <button href="#" data-toggle="modal" data-target="#productModal_@item.ProductID" title="Quick view"><i class="glyphicon glyphicon-zoom-in"></i></button>

                                        </div>
                                        <div class="add-to-cart">
                                            <button title="Add to Cart" value="@item.ProductID" class="AddToCart" type="button">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.ProductName)</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price">Rs.@Html.DisplayFor(modelItem => item.Price)</span>

                                        </div>
                                        <div class="info-orther">
                                            <p>Item Code: #453217907</p>
                                            <p class="availability">Availability: <span>In stock</span></p>
                                            <div class="product-desc">
                                                Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>

                <!-- ./view-product-list-->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            @if (Model.Pager.EndPage > 1)
                            {
                                <ul class="pagination">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID">First</a>
                                                break;
                                            }
                                        </li>

                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@page">@page</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                break;
                                            }
                                        </li>
                                        <li>
                                            @foreach (var item in Model.ProductsList)
                                            {
                                                <a href="~/Home/ProductSs?PId=@item.SubCategoryItemID&page=@(Model.Pager.TotalPages)">Last</a>
                                                break;
                                            }
                                        </li>
                                    }
                                </ul>
                            }

                        </nav>
                    </div>
                </div>







            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>


<!-- Modal -->
@foreach (var item in Model.ProductsList.Where(s => s.Active == "Yes"))
{
    <div class="modal fade" id="productModal_@item.ProductID" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-5">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                        <img id="product-zoom" src='@Url.Content(item.ProductImage1)' data-zoom-image="@Url.Content(item.ProductImage1)" />
                                    </a>
                                </div>
                            </div>
                            <!-- product-imge-->
                        </div>

                        <div class="pb-right-column col-xs-12 col-sm-7">
                            <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                <h4 class="product-name">@item.ProductName</h4>
                            </a>
                            <br />
                            <div class="product-price-group">
                                <h5> <span class="price">@item.Price Rs.</span> </h5>

                                <div class="pull-right" style="border:1px solid #eaeaea; padding:0px; text-align:center;">
                                    <div style="font-size:14px; background-color:lightgrey;">
                                        Sold By:
                                        <br />
                                    </div>
                                    <p style="text-align:left; padding-left:8px;">
                                        <a href="@Url.Action("SupplierProducts","Home", new { SupplierID = item.SupplierID })"><stong>@item.SupplierName</stong></a>
                                    </p>
                                </div>
                            </div>

                            <div class="product-desc">
                                <hr />
                                @item.ProductDescription
                                <hr />
                            </div>

                            <div class="form-action">
                                <div class="button-group">
                                    <button title="Add to Cart" value="@item.ProductID" class="btn-add-cart AddToCart" type="button">Add to Cart</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
}

