@model IEnumerable<MultivendorEcommerceStore.DB.ViewModel.DisplayProductViewModel>

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/lib/fancyBox/jquery.fancybox.css" />
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="@Url.Action("Index", "Home")" title="Return to Home">Home</a>

            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Category">
                @foreach (var item in Model)
                {
                    @item.CategoryName
                    break;
                }
            </a>

            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Sub Category">
                @foreach (var item in Model)
                {
                    @item.SubCategoryName
                    break;
                }
            </a>

            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Sub-Category Item">
                @*@foreach (var item in Model)
                    {
                        @item.SubCategoryItemName
                    }*@
            </a>


        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- Product -->
                <div id="product">
                    @foreach (var item in Model)
                    {
                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-5">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <img id="product-zoom" src='@Url.Content(item.ProductImage1)' data-zoom-image="@Url.Content(item.ProductImage1)" />
                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>

                            <div class="pb-right-column col-xs-12 col-sm-7">
                                <h1 class="product-name">@item.ProductName</h1>

                                <div class="product-price-group">
                                    <span class="price">@item.Price Rs.</span>

                                    <div class="pull-right" style="border:1px solid #eaeaea; padding:0px; text-align:center;">
                                        @*<div style="height:50px;">
                                                <img src="#" />
                                            </div>*@
                                        <div style="font-size:14px; background-color:lightgrey;">
                                            Sold By:
                                            <br />
                                        </div>
                                        <p style="text-align:left; padding-left:8px;">
                                            <a href="@Url.Action("SupplierProducts","Home", new { SupplierID = item.SupplierID })"><stong>@item.SupplierName</stong></a>
                                        </p>
                                    </div>

                                </div>
                                <div class="info-orther">
                                    <p>Availability: <span class="in-stock">In stock</span></p>
                                </div>
                                <div class="product-desc">
                                    @item.ProductDescription
                                </div>
                                @*<div class="form-option">
                                    <p class="form-option-title">Available Options:</p>

                                    <div class="attributes">
                                        <div class="attribute-label">Qty:</div>
                                        <div class="attribute-list product-qty">
                                            <div class="qty">
                                                <input id="option-product-qty" type="text" value="1">
                                            </div>
                                            <div class="btn-plus">
                                                <a href="#" class="btn-plus-up">
                                                    <i class="fa fa-caret-up"></i>
                                                </a>
                                                <a href="#" class="btn-plus-down">
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@
                                <div class="form-action">
                                    <div class="button-group">
                                        <button title="Add to Cart" value="@item.ProductID" class="btn-add-cart AddToCart" type="button">Add to Cart</button>

                                        @*<a class="btn-add-cart" href="#">Add to cart</a>*@
                                    </div>
                                    @*<div class="button-group">
                                        <a class="wishlist AddToWishList" href="#">
                                            <i class="fa fa-heart-o"></i>
                                            @item.ProductID
                                            <br>Wishlist
                                        </a>
                                        @*<a class="compare" href="#">
                                            <i class="fa fa-signal"></i>
                                            <br>
                                            Compare
                                        </a>*@
                                    @*</div>*@
                                </div>
                                <div class="form-share">
                                    @*<div class="sendtofriend-print">
                                        <a href="javascript:print();"><i class="fa fa-print"></i> Print</a>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Send to a friend</a>
                                    </div>*@
                                    <div class="network-share">
                                    </div>
                                </div>

                            </div>

                        </div>
                        break;
                    }


                </div>
                <!-- Product -->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

<script type="text/javascript" src="~/assets/lib/jquery.elevatezoom.js"></script>

<script type="text/javascript" src="~/assets/lib/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript" src="~/assets/lib/fancyBox/jquery.fancybox.js"></script>