@model MultivendorEcommerceStore.DB.ViewModel.SupplierBusinessInfoandProductsViewModel

@{
    ViewBag.Title = "SupplierProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- category-slider -->

                @foreach (var item in Model.Supplier)
                {
                    <div class="#">
                        <ul class="#" data-dots="false" data-loop="true" data-nav="true" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1">
                            <li>
                                <img src="@Url.Content(item.SupplierBusinessInfo.Logo)" width="100%" height="220" alt="category-slider">
                            </li>

                        </ul>
                        <br />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Email: </strong> @Html.DisplayFor(modelItem => item.SupplierBusinessInfo.BusinessEmail)
                                </div>

                                <div class="col-md-4">
                                    <strong>Company: </strong> @Html.DisplayFor(modelItem => item.SupplierBusinessInfo.CompanyName)
                                </div>

                                <div class="col-md-4">
                                    <strong>Mobile: </strong>@Html.DisplayFor(modelItem => item.SupplierBusinessInfo.Phone)
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Address: </strong> @Html.DisplayFor(modelItem => item.SupplierBusinessInfo.Address)
                                </div>


                            </div>
                        </div>
                    </div>
                    break;
                }


                <!-- ./category-slider -->
                <!-- view-product-list-->
                <div id="view-product-list" class="view-product-list">

                    @*<ul class="display-product-option">
                        <li class="view-as-grid selected">
                            <span title="Grid View">grid</span>
                        </li>
                        <li class="view-as-list">
                            <span title="List View">list</span>
                        </li>
                    </ul>*@

                    <!-- PRODUCT LIST -->
                    <ul class="row product-list grid">
                        @foreach (var item in Model.Supplier)
                        {
                            <li class="col-sx-12 col-sm-3">
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                            <img src="@Url.Content(item.Product.ProductImage1)?w=200&h=200&mode=stretch|" class="img img-thumbnail img-responsive" alt="Product Image" width="300" height="366" />
                                        </a>
                                        <div class="quick-view">
                                            <button title="Add to my wishlist" class="AddToWishList heart" value="@item.ProductID"><i class="glyphicon glyphicon-heart"></i></button>
                                            <button href="#" data-toggle="modal" data-target="#productModal_@item.ProductID" title="Quick view"><i class="glyphicon glyphicon-zoom-in"></i></button>

                                        </div>
                                        <div class="add-to-cart">
                                            <button title="Add to Cart" value="@item.ProductID" class="AddToCart" type="button">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.Product.ProductName)</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price">Rs.@Html.DisplayFor(modelItem => item.Product.Price)</span>
                                        </div>
                                        <div class="info-orther">
                                            <p>Item Code: #453217907</p>
                                            <p class="availability">Availability: <span>In stock</span></p>
                                            <div class="product-desc">
                                                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <!-- ./PRODUCT LIST -->

                </div>
                <!-- ./view-product-list-->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            @if (Model.Pager.EndPage > 1)
                            {
                                <ul class="pagination">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            @foreach (var item in Model.Supplier)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID">First</a>
                                                break;
                                            }
                                        </li>

                                            <li>
                                                @foreach (var item in Model.Supplier)
                                                {
                                                    <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                    break;
                                                }
                                            </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                            @foreach (var item in Model.Supplier)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@page">@page</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li>
                                            @foreach (var item in Model.Supplier)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                break;
                                            }
                                        </li>
                                            <li>
                                                @foreach (var item in Model.Supplier)
                                                {
                                                    <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.TotalPages)">Last</a>
                                                    break;
                                                }
                                            </li>
                                    }
                                </ul>
                            }

                        </nav>
                    </div>
                </div>



            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>


<!-- Modal -->
@foreach (var item in Model.Supplier)
{
        <div class="modal fade" id="productModal_@item.ProductID" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">

                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-5">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                            <img id="product-zoom" src='@Url.Content(item.Product.ProductImage1)' data-zoom-image="@Url.Content(item.Product.ProductImage1)" />
                                        </a>
                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>

                            <div class="pb-right-column col-xs-12 col-sm-7">
                                <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                    <h4 class="product-name">@item.Product.ProductName</h4>
                                </a>
                                <br />
                                <div class="product-price-group">
                                    <h5> <span class="price">@item.Product.Price Rs.</span> </h5>

                                    <div class="pull-right" style="border:1px solid #eaeaea; padding:0px; text-align:center;">
                                        <div style="font-size:14px; background-color:lightgrey;">
                                            Sold By:
                                            <br />
                                        </div>
                                        <p style="text-align:left; padding-left:8px;">
                                            <a href="@Url.Action("SupplierProducts","Home", new { SupplierID = item.SupplierID })"><stong>@item.Product.SupplierName</stong></a>
                                        </p>
                                    </div>
                                </div>

                                <div class="product-desc">
                                    <hr />
                                    @item.Product.ProductDescription
                                    <hr />
                                </div>



                                <div class="form-option">
                                    <p class="form-option-title"><strong> Available Options: </strong> </p>
                                    <br />

                                    <div class="attributes">
                                        <div class="attribute-label">Qty:</div>
                                        <div class="attribute-list product-qty">
                                            <div class="qty">
                                                @*<input id="option-product-qty" type="text" value="1">*@
                                                <input type="number" id="NumberField_@item.ProductID" class="numberfield" value="" min="1">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="form-action">
                                    <div class="button-group">
                                        <button title="Add to Cart" value="@item.ProductID" class="btn-add-cart AddToCart" type="button">Add to Cart</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
    <!-- END Modal -->


    }
