@model MultivendorEcommerceStore.DB.ViewModel.ProductListViewModel

@{
    ViewBag.Title = "SupplierProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- category-slider -->
                @*<div class="category-slider">
                        <ul class="owl-carousel owl-style2" data-dots="false" data-loop="true" data-nav="true" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1">
                            <li>
                                <img src="~/assets/data/category-slide.jpg" alt="category-slider">
                            </li>
                            <li>
                                <img src="~/assets/data/slide-cart2.jpg" alt="category-slider">
                            </li>
                        </ul>
                    </div>*@
                <div class="category-slider">
                    @foreach (var item in Model.Products)
                    {
                        <span class="page-heading-title">@item.SupplierID</span>
                        break;
                    }
                    Hello
                </div>
                <!-- ./category-slider -->
                <!-- view-product-list-->
                <div id="view-product-list" class="view-product-list">
                    <h2 class="page-heading">
                        @*@foreach (var item in Model)
                            {
                                <span class="page-heading-title">@item.SubCategoryItemName</span>
                            }*@
                    </h2>
                    <ul class="display-product-option">
                        <li class="view-as-grid selected">
                            <span>grid</span>
                        </li>
                        <li class="view-as-list">
                            <span>list</span>
                        </li>
                    </ul>
                    <!-- PRODUCT LIST -->
                    <ul class="row product-list grid">
                        @foreach (var item in Model.Products.Where(s => s.Active == "Yes"))
                        {
                            <li class="col-sx-12 col-sm-3">
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })">
                                            <img class="img-thumbnail" src="@Url.Content(item.ProductImage1)" height="350" width="350" />
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <button title="Add to Cart" value="@item.ProductID" class="AddToCart" type="button">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Url.Action("ProductDetail", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.ProductName)</a></h5>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="content_price">
                                            <span class="price product-price">Rs.@Html.DisplayFor(modelItem => item.Price)</span>
                                        </div>
                                        <div class="info-orther">
                                            <p>Item Code: #453217907</p>
                                            <p class="availability">Availability: <span>In stock</span></p>
                                            <div class="product-desc">
                                                Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>
                <!-- ./view-product-list-->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            @if (Model.Pager.EndPage > 1)
                            {
                                <ul class="pagination">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            @foreach (var item in Model.Products)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID">First</a>
                                                break;
                                            }
                                        </li>

                                        <li>
                                            @foreach (var item in Model.Products)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                            @foreach (var item in Model.Products)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@page">@page</a>
                                                break;
                                            }
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li>
                                            @foreach (var item in Model.Products)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                break;
                                            }
                                        </li>
                                        <li>
                                            @foreach (var item in Model.Products)
                                            {
                                                <a href="~/Home/SupplierProducts?SupplierID=@item.SupplierID&page=@(Model.Pager.TotalPages)">Last</a>
                                                break;
                                            }
                                        </li>
                                    }
                                </ul>
                            }

                        </nav>
                    </div>
                </div>



            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
